
.searchicon{
top: 14px;
position: absolute;
left: 29px;
width: 20px;
}
select{
  font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height:12px;
/* identical to box height */

letter-spacing: -0.24px;

color: #000000;
background: #FFFFFF;
border: 1px solid #CFCFCF;
border-radius: 13px;
}

::placeholder {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size:14px;
  line-height: 12px;
  /* identical to box height */
  
  letter-spacing: -0.24px;
  
  color: #000000;
}
.downloadbtn{
font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.24px;
float: right;
color: #FFFFFF;
padding: 10px 25px;
background: #1E58FA;
border: 1px solid #1E58FA;
border-radius: 8px;
}


.appointments{
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
  letter-spacing: -0.24px;
  color: #000000;
}

.customtable {
  height: 350px;
  overflow-y: scroll;
  position: relative;
  }
  
  .customtable table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  }
  
  .customtable td, .customtable th {
    padding: 0.25em;
  }
  
  .customtable thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #EEEEEE;;
    color:#000;
    z-index: 1;
    font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 26px;
letter-spacing: -0.24px;
  border-bottom:  1px solid #EAEAEA;
color: #000000;
  }
  .customtable tbody td {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #fff;
    color: #000;
    z-index:0px;
    font-family: 'Hanken Grotesk';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 26px;
/* identical to box height */
border-bottom:  1px solid #EAEAEA;
letter-spacing: -0.24px;
padding: 15px 5px;

color: #000000;

  }

  .inputfield{
    height: 44px;  
background: #FFFFFF;
border: 1px solid #CFCFCF;
border-radius: 6px;
  }
  .aplist{
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1px !important;
    /* identical to box height */
    
    letter-spacing: -0.24px;
    
    color: #000000;
  }
  .listapp{
    
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 8px !important;
    letter-spacing: -0.24px;
    color: #000000;
    
  }

  .nodata{
    text-align: center;
    margin-top: 10%;
  }

/* component.css */
.btn-complete {
  color: #1E58FA;
  background-color: rgba(30, 88, 250, 8%);

  width: 80px;

      border-radius:6px;
      padding:8px 4px;
      font-weight: 500;
       border: 1px solid #1E58FA; 
}

.btn-cancel {
  color: #FF0000;
  background-color: rgba(255, 0, 0, 8%);

  width: 80px;
      border-radius:6px;
      padding:8px 4px;

      font-weight: 500;
       border: 1px solid #FF0000; 
}
  .btn-schedule{
    width: 80px;

    background-color: rgba(30, 171, 250, 8%);

     color: #1EABFA;
     padding:8px 4px;
    font-weight: 500;
     border: 1px solid #1EABFA; 
  }
  .btn-active{
    width: 80px;


color: #29BC26;
background-color: rgba(41, 188, 38, 8%);
    border-radius:6px;
    padding:8px 4px;

    font-weight: 500;
     border: 1px solid #29BC26; 
  }
@media only screen and (max-width:565px){
  .stylediv{
    display:flex;
    flex-direction: column;
  }
}
.stylediv{
  display: flex;justify-content: space-between;
}


.custom-select {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* margin: 0 0 2em; */
  height: 45px;

	padding: 0;
	position: relative;
	width: 100%;
	z-index: 1;
}

.custom-select:hover {
	border-color: #999;
}

.custom-select:before {
	color: #333;
	display: block;
	font-family: 'FontAwesome';
	font-size: 1em;
	height: 100%;
	line-height: 2.5em;

	position: absolute;
	top: 0;
	right: 100px;
	text-align: center;
	width: 1em;
	z-index: -1;
}

.custom-select select {
	background-color: transparent;
	border: 0 none;
	box-shadow: none;
	color: #333;
	display: block;
	font-size: 100%;
	line-height: normal;
	margin: 0;
	padding: .5em;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.custom-select select::-ms-expand {
	display: none; /* to ie 10 */
}

.custom-select select:focus {
	outline: none;
}

/* little trick for custom select elements in mozilla firefox  17/06/2014 @rodrigoludgero */

/* pseudo class https://developer.mozilla.org/en-US/docs/Web/CSS/:any */

:-moz-any(.custom-select):before {
	background-color: #fff; /* this is necessary for overcome the caret default browser */
	pointer-events: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events  */
	z-index: 1; /* this is necessary for overcome the pseudo element */
}